.page-wrapper {
  background: linear-gradient(
    356deg,
    var(--main-dark-red-color) 0%,
    #f8f8f8 100%
  );
  padding: 24px 24px;
  height: 100vh;

  & input {
    border: 2px solid var(--main-dark-red-color);
    border-radius: 8px;
    padding: 10px;
    width: 200px;

    &:focus-visible {
      outline: none;
    }
  }
}
